@import "tailwindcss";

@theme {
  --color-neo-yellow: #FFBD12;
  --color-neo-red: #FF5C5C;
  --color-neo-blue: #1947E5;
  --color-neo-green: #00C6AE;
  --color-neo-orange: #F95A2C;
  --color-neo-pink: #FF89BB;
  
  --color-theme-bg: var(--bg-color);
  --color-theme-text: var(--text-color);
  --color-theme-border: var(--border-color);
  --color-theme-card: var(--card-bg);
}

@layer base {
  :root {
    --bg-color: #F0F4F8;
    --text-color: #111111;
    --border-color: #111111;
    --grid-color: #ccc;
    --card-bg: #ffffff;
  }
  .dark {
    --bg-color: #111111;
    --text-color: #ffffff;
    --border-color: #ffffff;
    --grid-color: #2a2a2a;
    --card-bg: #000000;
  }
  
  body {
    background-color: var(--bg-color);
    background-image: 
      linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
      linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
    background-size: 20px 20px;
    font-family: 'Space Mono', monospace;
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

@layer utilities {
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
}