@tailwind base;
@tailwind components;
@tailwind utilities;


.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid transparent;
  width: 100%;
  background-color: transparent;
  transition: border-color 0.2s ease-in; /* Added transition for the border color */
}
.tab:hover{
  transition: 0.2s ease-in-out;
  background-color: black;
  opacity: 20%;
  color:white;
}

.active-tab {
  border-color: #fdd835; /* Change this color to your desired active tab color */
  color: #fdd835; /* Changing text color */
  z-index: 100;
}

.tabs {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  width: 100%;
  background-color: transparent;
  transition: ease-in, 0.2s;
}
.tabs:hover{
  transition: 0.2s ease-in-out;
  background-color: black;
  opacity: 20%;
  color:white;
}

.active-tabs {
  border-radius: 4px;
  background-color: #fdd835; /* Change this color to your desired active tab color */
  color:white;
}

/* .separator {
  border-left: 1px solid #151515;
  height: 120px; 
  margin: 0 10px;
} */

/* Add this CSS to your existing styles */
.ingredients-list {
  list-style-type: disc; /* Add bullet points */
  padding-left: 20px; /* Adjust the spacing */
}

html {
  scroll-behavior: smooth;
}
